.keyRect {
    height: 15px;
    width: 15px;
}
.decreasedPadding {
    padding-top: 0px;
    padding-bottom: 0px;
}
path:hover{
    opacity: 0.75;
}
ellipse:hover{
    opacity: 0.75;
}

.dockingRingCls{
    background-color: rgb(0, 64, 137);
}
.hangarCls{
    background-color: rgb(170, 212, 255);
}
.generalStoreCls{
    background-color: rgb(127, 63, 0);
}
.salonCls{
    background-color: rgb(0, 255, 255);
}
.greenhouseCls{
    background-color: rgb(0, 127, 63);
}
.labMaterialsCls{
    background-color: rgb(255, 127, 0);
}
.labPortalCls{
    background-color: rgb(191, 191, 0);
}
.cafeteriaCls{
    background-color: rgb(170, 86, 255);
}
.labEnvironmentCls{
    background-color: rgb(127, 0, 0);
}
.labSignalsCls{
    background-color: rgb(255, 0, 127);
}
.libraryCls {
    background-color: rgb(0, 0, 255);
}
.securityCls {
    background-color: rgb(0, 127, 127);
}
.smallBankCls {
    background-color: rgb(255, 255, 0);
}
.crewQuartersCls {
    background-color: rgb(0, 0, 127);
}
.gymCls {
    background-color: rgb(255, 0, 255);
}
.observationCls {
    background-color: rgb(63, 0, 127);
}
.engineeringAndCargoCls {
    background-color: rgb(0, 0, 0);
}